/*--------------------------------------------------------------------------------------------------*/
/*BASIC PAGE SET UP FOR BACKGROUND AND CAPTURING FREE SPOKEN MOMENTS TEXT*/
/*--------------------------------------------------------------------------------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    color: #484848;
    font-family: 'Open Sans';
    font-weight: 100;
    text-rendering: optimizeLegibility;
}

.row{
    width: 1140px;
    margin: 0px auto 0px auto;
    padding-left: 0;
}

section{
    padding: 80px 0px;
}


/* NavBar */
.Logo{
    height: 100px;
    width: auto;
    float: left;
}

.mainNav{
    float: right;
    list-style: none;
}

.mainNav li{
    display: inline-block;
    margin-top: 40px;
    margin-left: 30px;
    color: black;
}

.mainNav li a:link,
.mainNav li a:visited{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    color: black;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
    padding: 8px 5px;
}

.mainNav li a:hover,
.mainNav li a:visited{
    border-bottom: 2px solid orange;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,2);
}




/* for weddings page */

.section-pricing{
    background-color: #d6cfcf;
}

h2{
    font-size: 250%;
    width: 35%;
    margin-left: 30%;
    text-align: center;
}

.plan-box{
    background-color: #fff;
    border-radius: 5px;
    width: 90%;
    margin-left: 30%;
}

.plan-box div{
    padding: 15px;
    border-bottom: 1px solid #c6c3c3;
}

.price-plan{
    font-size: 200%;
    margin-bottom: 10px;
    font-weight: 100;
}